<a href="https://colab.research.google.com/github/ivaniseda/ML-dev/blob/main/THEORY_Python.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# 1. Python

## 1.1. Basic data types

### With type() you can see the type of a variable

In [ ]:
variable = 2
type(variable)

int

In [ ]:
variable = 2.5
type(variable)

float

In [ ]:
variable = 'This is a string' # you can use "" or ''
type(variable)

str

In [ ]:
variable = "s"
type(variable)

str

In [ ]:
variable = 2 + 3j # If you don't know what a complex number is, you can go to: https://en.wikipedia.org/wiki/Complex_number
type(variable)

complex

In [ ]:
type(3 < 2)

bool

## 1.2. Variables and operators

### Numeric Type

In [ ]:
a = 100
b = 3
a / b # Note that there is no need to write print(), only applicable to a jupyter notebook

33.333333333333336

In [ ]:
a = 100
b = 3
a // b # Division (floor)

33

In [ ]:
a = 100
b = 3
a % b # Modulo operation

1

In [ ]:
a = 100
b = 3
divmod(a, b) # Return quotient and remainder

(33, 1)

In [ ]:
a = 1 + 3j
a.conjugate()

(1-3j)

In [ ]:
a = 10
pow(a, 3) # Return 10^3

1000

### String Type

#### String Concatenation

In [1]:
my_string1 = 'I love python'
my_string2 = 'My name is Louis'

my_string1 + my_string2 # Notice that there is no space between the concatenated strings

'I love pythonMy name is Louis'

In [2]:
my_string1 + ' ' + my_string2 # Now we add the space

'I love python My name is Louis'

In [3]:
my_string1 + ' and ' + my_string2

'I love python and My name is Louis'

In [4]:
my_string1 * 10 # Repeat a string n times

'I love pythonI love pythonI love pythonI love pythonI love pythonI love pythonI love pythonI love pythonI love pythonI love python'

In [5]:
(f'{my_string1} ') * 10

'I love python I love python I love python I love python I love python I love python I love python I love python I love python I love python '

In [6]:
a = [1]
b = a

In [7]:
a is b

True

In [8]:
a == b

True

#### Lower, Capitalize and Upper

In [9]:
my_string2.lower() # All string to lowercase

'my name is louis'

In [10]:
'hello my friend'.capitalize() # First char of string to uppercase

'Hello my friend'

In [11]:
'hello my friend'.upper() # All string to uppercase

'HELLO MY FRIEND'

#### Replace some substring with another string

In [12]:
my_name = my_string2.replace('Luois', 'Martin') # Replace 'Louis' with 'Martin' on the original string
my_name

'My name is Louis'

#### Find the occurrence of a substring

In [13]:
my_string1.find('python') # Returns the lowest index of the substring

7

In [14]:
my_string1.find('Python') # If it is not found then it returns -1

-1

In [15]:
my_string1.find('Python'.lower())

7

### Boolean Type

In [ ]:
x = True
y = False

print(x or y) # If you don't know anything about logic you can go to: https://en.wikipedia.org/wiki/Truth_table
print(x and y)
print(not x)

True
False
False

In [ ]:
1 == 0

False

In [ ]:
not (1 == 0)

True

In [ ]:
x = 4

type(x) is int

True

In [ ]:
10 != 0

True

In [ ]:
3 >= 3

True

In [ ]:
'Python'[0] == 'P'

True

## 1.3. Advanced data structures: List, Tuple, Dictionary, and Set.

### List

#### List creation

In [ ]:
my_list = ["Python", "Data Science", 'Machine Learning', 'Math', 100, 3 + 1j, 1.1]
print(my_list)
print(type(my_list))
print(type(my_list[5]))

['Python', 'Data Science', 'Machine Learning', 'Math', 100, (3+1j), 1.1]
<class 'list'>
<class 'complex'>

#### Indexing a list

In [ ]:
my_list = ["Python", "Data Science", 'Machine Learning', 'Math']
print(my_list[0]) #First element
print(my_list[-1]) #Last element
print(my_list[1:3]) #Slice list

Python
Math
['Data Science', 'Machine Learning']

#### Concat lists

In [ ]:
concatenation = my_list + ["AnyoneAI"]
print(concatenation)

concatenation[0] = "Python rocks!"
concatenation

['Python', 'Data Science', 'Machine Learning', 'Math', 'AnyoneAI']

['Python rocks!', 'Data Science', 'Machine Learning', 'Math', 'AnyoneAI']

#### Append value to a list

In [ ]:
my_list = ["Python", "Data Science", 'Machine Learning', 'Math']
my_list.append("Data rules!")
my_list.append(10)
my_list

['Python', 'Data Science', 'Machine Learning', 'Math', 'Data rules!', 10]

#### Replace

In [ ]:
my_list = ["Python", "Data Science", 'Machine Learning', 'Math']
my_list[1:3] = ['DS', 'ML']
my_list

['Python', 'DS', 'ML', 'Math']

#### Delete

In [ ]:
print(my_list)
my_list[1:4] = []
my_list

['Python', 'DS', 'ML', 'Math']

['Python']

#### List length

In [ ]:
my_list = ["Python", "Data Science", 'Machine Learning', 'Math']
len(my_list)

4

#### Nested list

In [ ]:
list_1 = ['Martin', 'Juan']
list_2 = [9, 10]
list_Final = [list_1, list_2]
print(list_Final)
print(list_Final[0][1])

[['Martin', 'Juan'], [9, 10]]
Juan

### Tuple

In [ ]:
names = ('Juan', 'Pablo', 'Martin', 'Peter')
type(names)

tuple

In [ ]:
names = 'Juan', 'Pablo', 'Martin', 'Peter'
type(names)

tuple

In [ ]:
names_1 = 'Juan'
names_2 = 'Juan',

print(type(names_1))
print(type(names_2))

<class 'str'>
<class 'tuple'>

#### We can create tuples from different structures such as lists, sets, etc.

In [ ]:
tpl = tuple([1,2,3,4,5])
type(tpl)

tuple

In [ ]:
tpl = tuple({1,2,3,4,5})
type(tpl)

tuple

#### Concatenate

In [ ]:
t1 = 1, 2, 3, 4,
t2 = 5, 6, 7, 8, 9,

t1 + t2

(1, 2, 3, 4, 5, 6, 7, 8, 9)

In [ ]:
t1 = 1, 2, 3, 4,
t1 * 4

(1, 2, 3, 4, 1, 2, 3, 4, 1, 2, 3, 4, 1, 2, 3, 4)

#### Indexing

In [ ]:
t1 = 1, 2, 3, 4,
t1[3]

4

#### Sciling

In [ ]:
t1 = 1, 2, 3, 4, 'hello', 'python', 12.12
t1[1: 5]

(2, 3, 4, 'hello')

In [ ]:
t1 = 1, 2, 3, 4, 'hello', 'python', 12.12

2 in t1

True

#### Tuples are immutable

In [ ]:
t1 = (1, 2, 3, 4, 'hello', 'python', 12.12)
t1[0] = 'java'

TypeError: 'tuple' object does not support item assignment

In [ ]:
my_tuple = (4, 22, 3, [6, 50])
my_tuple[3][0] = 9

print(my_tuple)

(4, 22, 3, [9, 50])

In [ ]:
my_tuple = (4, 22, 3, [6, 50])
my_tuple[3] = [9, 50]

print(my_tuple)

TypeError: 'tuple' object does not support item assignment

### Dictionary

#### Dictionary creation

In [ ]:
dicc = {}
dicc = {"Name": "Louis", "Age": 50}
print(dicc)

{'Name': 'Louis', 'Age': 50}

#### Adding and deleting values

In [ ]:
dicc['Country'] = "Chile"
print(dicc)

del dicc["Country"]
print(dicc)

{'Name': 'Louis', 'Age': 50, 'Country': 'Chile'}
{'Name': 'Louis', 'Age': 50}

#### Items

In [ ]:
print(dicc.items())

dict_items([('Name', 'Louis'), ('Age', 50)])

#### Keys

In [ ]:
print(dicc.keys())
print('Name' in dicc)

dict_keys(['Name', 'Age'])
True

#### Values

In [ ]:
print(dicc.values())

dict_values(['Louis', 50])

#### Dictionary creation (alternative)

In [ ]:
dicc2 = dict(Diego=1, Pepe=2, Jose=3)
print(dicc2)

{'Diego': 1, 'Pepe': 2, 'Jose': 3}

#### Removing elements

In [ ]:
squares = {1: 1, 2: 4, 3: 9, 4: 16, 5: 25}
print(squares.pop(4))
squares

16

{1: 1, 2: 4, 3: 9, 5: 25}

#### Update

In [ ]:
marks = {'Physics': 47, 'Maths': 97}
internal_marks = {'English': 18}
print(marks)

marks.update(internal_marks)
print(marks)

{'Physics': 47, 'Maths': 97}
{'Physics': 47, 'Maths': 97, 'English': 18}

### Set

#### Set creation

In [ ]:
my_set = {1, 2, 3, 4, 5, 6}
type(my_set)

set

In [ ]:
my_set = set([1, 1, 1, 2, 3, 3, 3, 4, 5, 6])
print(my_set)
type(my_set)

{1, 2, 3, 4, 5, 6}

set

#### Add and remove values from set

In [ ]:
my_set = {1, 2, 3, 4, 5, 6}
my_set.add(8)
my_set

{1, 2, 3, 4, 5, 6, 8}

In [ ]:
my_set = {1, 2, 3, 4, 5, 6}
my_set.remove(3)
my_set

{1, 2, 4, 5, 6}

#### Set operations: Union

In [ ]:
A = {1, 2, 3, 4, 5, 6, 7, 8, 9, 10}
B = {7, 8, 9, 10, 11, 12, 13, 14, 15, 16}

print(A | B)
print(A.union(B))

{1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16}
{1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16}

#### Intersection

In [ ]:
A = {1, 2, 3, 4, 5, 6, 7, 8, 9, 10}
B = {7, 8, 9, 10, 11, 12, 13, 14, 15, 16}

print(A & B)
print(A.intersection(B))
print(B & A)
print(B.intersection(A))

{8, 9, 10, 7}
{8, 9, 10, 7}
{8, 9, 10, 7}
{8, 9, 10, 7}

#### Difference

In [ ]:
A = {1, 2, 3, 4, 5, 6, 7, 8, 9, 10}
B = {7, 8, 9, 10, 11, 12, 13, 14, 15, 16}

print(A - B)
print(A.difference(B))

{1, 2, 3, 4, 5, 6}
{1, 2, 3, 4, 5, 6}

#### Symmetric Difference

In [ ]:
A = {1, 2, 3, 4, 5, 6, 7, 8, 9, 10}
B = {7, 8, 9, 10, 11, 12, 13, 14, 15, 16}

print(A ^ B)
print(A.symmetric_difference(B))

{1, 2, 3, 4, 5, 6, 11, 12, 13, 14, 15, 16}
{1, 2, 3, 4, 5, 6, 11, 12, 13, 14, 15, 16}

#### Other sets operations

In [ ]:
A = {1, 2, 3, 4, 5, 6, 7, 8, 9, 10}

print({3, 4, 10}.issubset(A))
print({3, 4, 100}.issubset(A))

True
False

In [ ]:
A = {1, 2, 3, 4, 5, 6, 7, 8, 9, 10}
B = {11, 12, 13, 14, 15, 16}

A.isdisjoint(B)

True

In [ ]:
A = {1, 2, 3, 4, 5}
B = {1, 2, 3}
C = {1, 2, 3}

print(A.issuperset(B))
print(B.issuperset(A))
print(C.issuperset(B))

True
False
True

## 1.4. Conditional statements: if/elif/else

In [ ]:
age = 25

if age < 18:
    print("You cannot work because you are a minor")
else:
    if age >= 18 and age <= 60:
        print("You are of legal age and you are at an age to be able to work")
    elif age > 60 and age <= 120:
        print(" You are too old to work as per the Government rules")
    else:
        print("Either you're a liar or maybe you're immortal")

You are of legal age and you are at an age to be able to work

## 1.5. Loop with: while, for

### While

In [ ]:
i = 1

while i < 10:
    print(i)
    i += 1

1
2
3
4
5
6
7
8
9

#### Break

In [ ]:
i = 1
while i < 10:
    print(i)
    if i == 7:
        break
    i += 1

1
2
3
4
5
6
7

#### Continue

In [ ]:
i = 1
while i < 10:
    i += 1
    if i == 7:
        continue
    print(i)

2
3
4
5
6
8
9
10

In [ ]:
# while True:
#     print("I'm killing my machine")

### For

In [ ]:
teams = ["Ferrari", "Mercedes", "Red Bull", "Aston Martin", "Alpha Tauri", "McLaren"]

for x in teams:
    print(x)

Ferrari
Mercedes
Red Bull
Aston Martin
Alpha Tauri
McLaren

In [ ]:
for i in range(10):
    print(i)

0
1
2
3
4
5
6
7
8
9

In [ ]:
teams = ["Ferrari", "Mercedes", "Red Bull", "Aston Martin", "Alpha Tauri", "McLaren"]

for x in range(len(teams)):
    print(x)

0
1
2
3
4
5

In [ ]:
rows = 15
for i in range(1, rows + 1):
    for j in range(1, i + 1):
        print('*', end=' ')
    print()

*
* *
* * *
* * * *
* * * * *
* * * * * *
* * * * * * *
* * * * * * * *
* * * * * * * * *
* * * * * * * * * *
* * * * * * * * * * *
* * * * * * * * * * * *
* * * * * * * * * * * * *
* * * * * * * * * * * * * *
* * * * * * * * * * * * * * *

## 1.6. Functions

In [ ]:
def my_function(a):
    a = a + 10

    return a

In [ ]:
my_function(5)

15

In [ ]:
def say_hi(x):
    '''
        The following function has to receive a string as a parameter
         and returns a greeting to the value that has been entered
         To use it, call the greet function and pass a string as a parameter
             - greet ('here goes the string')
    '''
    print(f"Hi, {x}, I hope you have a good day!")

say_hi('Martin')

Hi, Martin, I hope you have a good day!

### Function documentation

In [ ]:
help(say_hi)

Help on function say_hi in module __main__:

say_hi(x)
    The following function has to receive a string as a parameter
     and returns a greeting to the value that has been entered
     To use it, call the greet function and pass a string as a parameter
         - greet ('here goes the string')

In [ ]:
def is_prime(number=10): # argument with default value
    if number < 2:
        return False
    for i in range(2, number):
        if number % i == 0:
            return False
    return True

is_prime(15)

False

In [ ]:
is_prime(7)

True

In [ ]:
is_prime() # Calling is_prime() with default argument

False