<a href="https://colab.research.google.com/github/ivaniseda/ML-dev/blob/main/Variables_practice.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# 1. Python

Recommendation: in addition to doing the exercises, we strongly suggest that you test and modify the code in this notebook. The best way to learn is by doing, 'breaking' the code and trying to understand why it stopped working. There is nothing irreversible, do not be afraid! You can always re-download the notebook!

## Variables

By creating a variable you are giving an object a name. Each variable must have a name through which we will refer to it, the names must be unique and, as far as possible, be as explicit as possible to avoid confusion.

Using the = assigns a value to a variable. It is not a mathematical/logical equal.

In [ ]:
x = 35
print(x)

y = 1.7
print(y)

z = x + y
print(z)

my_text = 'Hello!'
print(my_text)

35
1.7
36.7
Hello!

**TODO:** What is the difference in the following cell

In [ ]:
print(18.8)
print('18.8')

**TODO:** How do we remove a variable that we don't want to use anymore?

In [ ]:
# To complete
del my_

## Data Types

When we define a variable, depending on the content that we assign to it, it will be of a certain type. The most common data types of variables are: int, float, string and boolean.

**TODO:** What type are the following variables?

In [ ]:
a = 42
b = 7.8
c = True
t1 = 'hola'
t2 = '523'

In [ ]:
# To complete

**TODO:** Convert __a__ to float, __b__ to int and __c__ to string

In [ ]:
# To complete

## Operations

With the variables we define, we can perform different operations. Depending on the type of variable, there are different operations available.

In [ ]:
a = 20
b = 4
print(a+b)
print(a-b)

24
16

Operations can be performed even between different types of variables

In [ ]:
a = 20
b = 4.5

c = a+b
d = a-b

print(c)
print(d)

24.5
15.5

We can divide

In [ ]:
x = 10
y = 3
z = x / y
print(z)

3.3333333333333335

**TODO:** Calculate the percentage that represents the value 165 over a total of 648 and store it in a variable called percentage.

In [ ]:
# To complete

**TODO:** Calculate the sum and multiplication of the variables a, b and c. I.e. `a+b+c` and `a*b*c`.

In [ ]:
a = '12'
b = '-5.75'
c = '23.87'

In [ ]:
# To complete

## Lists

They are composed of a succession of objects in a certain order. They are defined by square brackets [], and the objects within them are separated by commas.

In [ ]:
my_list = [42, 10.7, True, 'Messi']
print(my_list)

[42, 10.7, True, 'Messi']

A very common question that one asks when working with lists is how many elements does it have.

In [ ]:
len(my_list)

4

Each element in a list is assigned a position (index) that we can use to inspect or operate on that element. Indices start at 0, and are specified by putting square brackets with the index inside after the list name:

In [ ]:
my_list = [5, 6.0, 'Messi',-5, False, 'Maradona', True, 100]

print(my_list[0])
print(my_list[1])
print(my_list[2])

5
6.0
Messi

**TODO:** print the seventh element of my_list.

In [ ]:
# To complete

We can also, slice a list.

In [ ]:
print(my_list[0:3])
print(my_list[4:])
print(my_list[1:5:2])

[5, 6.0, 'Messi']
[False, 'Maradona', True, 100]
[6.0, -5]

What is the logic that governs this syntax? Play around with it a bit and see if you can figure out the rule. If not, you can also google what slicing is.

We can also use negative numbers for indexing.

In [ ]:
print(my_list[-1])
print(my_list[-2])
print(my_list[-8])

100
True
5

We can have list of lists.

In [ ]:
my_list_1 = ['hello', 'how', 'are', 'you?']
my_list_2 = [1, 2, 3]
mother_list = [0, my_list_1, 'Mas texto', my_list_2]

print(mother_list)
print(len(mother_list))

[0, ['hello', 'how', 'are', 'you?'], 'Mas texto', [1, 2, 3]]
4

**TODO:** Taking my_list_1 from mother_list (what we just did in the previous cell), index the second element of my_list_1.

In [ ]:
# To complete

Append values to a list

In [ ]:
empty_list = []
len(empty_list)

0

In [ ]:
empty_list.append(89)
empty_list.append('text')
print(empty_list)
print(len(empty_list))

[89, 'text']
2

**TODO:** What happens if they run the previous cell again and again?

**TODO:** Define a list and append a, b and c

In [ ]:
a = 8
b = 'world'
c = [12,24.5,66]

In [ ]:
# To complete

We must be careful when we copy lists and operate on it, let's see a little about what it is

In [ ]:
list_1 = [1, 2, 3, 4]
list_2 = list_1
list_2[-1] = 100

print(list_1, list_2)

[1, 2, 3, 100] [1, 2, 3, 100]

Note that both lists have been modified! This, in general, is not what is desired. But we can do it right:

In [ ]:
list_1 = [1, 2, 3, 4]
list_2 = list_1.copy()
list_2[-1] = 100

print(list_1, list_2)

[1, 2, 3, 4] [1, 2, 3, 100]

Also, we can have nested lists and in that case you can go trhough the method "deepcopy". Let´s do it:

In [ ]:
import copy

list_1 = [[1, 2], [3, 4]]
list_2 = copy.deepcopy(list_1)
list_2[-1] = 100

print(list_1, list_2)

[[1, 2], [3, 4]] [[1, 2], 100]

## Dictionaries

Dictionaries in Python are a type of data structure that allows you to store an unordered set of key:value pairs, the keys being unique within the same dictionary (that is, there cannot be two elements with the same key).

Let's see below an example of how we would declare a dictionary in Python in whose elements we have the Boca Juniors players of the year 2000, the key being the number of their shirt (unique key) and the value being their name:

In [ ]:
players = dict()
players = {
    1 : "Córdoba", 4 : "Ibarra",
    2 : "Bermúdez", 13 : "Traverso",
    6 : "Matellán", 22 : "Battaglia",
    5 : "Serna", 18 : "Basualdo",
    10 : "Riquelme", 9 : "Palermo",
    16 : "Delgado"
}
players

{1: 'Córdoba',
 4: 'Ibarra',
 2: 'Bermúdez',
 13: 'Traverso',
 6: 'Matellán',
 22: 'Battaglia',
 5: 'Serna',
 18: 'Basualdo',
 10: 'Riquelme',
 9: 'Palermo',
 16: 'Delgado'}

As we can see, the dictionary is declared between the characters {} and each of the elements is separated by commas (,). We define each element with its key:value pair, which can be the key and the value of any data type ('int', 'float', 'chr', 'str', 'bool', 'object').

Next we are going to loop through the dictionary and print its key:value pairs (we will see all the dictionary methods later):

In [ ]:
for k, v in players.items():
    print("%s -> %s"%(k,v))

1 -> Córdoba
4 -> Ibarra
2 -> Bermúdez
13 -> Traverso
6 -> Matellán
22 -> Battaglia
5 -> Serna
18 -> Basualdo
10 -> Riquelme
9 -> Palermo
16 -> Delgado

**TODO:** Print dictionary keys

In [ ]:
# To complete

**TODO:** Print dictionary values

In [ ]:
# To complete

**TODO:** Insert a new player into the dictionary, 7: 'Schelotto'

In [ ]:
# To complete

**TODO:** Investigate the setdefault method

In [ ]:
# To complete

**TODO:** Delete the element whose key is 22

In [ ]:
# To complete

**TODO:** Copy the dictionary to a new dictionary

In [ ]:
# To complete

**TODO:** Deletes all previously copied dictionary content

In [ ]:
# To complete

**TODO:** Check that keys 2 and 8 exist in the players dictionary

In [ ]:
# To complete

Another very useful method; is the items() method that returns the elements of the dictionaries in tuples, in which in each of them the key is in the first position and the value in the second.

**TODO**: Using items() iterate over the dictionary and print each key:value pair from the dictionary

In [ ]:
# To complete

Finally we are going to see the update(dict) method that will allow us to join the elements of two dictionaries. This method inserts into the dictionary those elements of the dictionary passed to it as a parameter, whose keys are not in the dictionary.

**TODO:**
Create a dictionary with substitute players (no matter the names or numbers, you can invent them) and add those players to the original dictionary.

In [ ]:
# To complete

## Sets

A set is created by placing all the items (elements) inside curly braces {}, separated by comma, or by using the built-in set() function.

It can have any number of items and they may be of different types (integer, float, tuple, string etc.). But a set cannot have mutable elements like lists, sets or dictionaries as its elements.

In [ ]:
A = {'python', 'pandas', 'numpy', 'matplotlib', 'csv', 'reports', 'sql', 'cloud'} # tools/skills for DS/ML
B = {'python', 'cloud', 'java', 'ruby', 'sql', 'jacascript'} # tools/skills for Backend

If we want to obtain the union of both sets of skills we can generate the union of the sets

In [ ]:
A.union(B)

{'cloud',
 'csv',
 'jacascript',
 'java',
 'matplotlib',
 'numpy',
 'pandas',
 'python',
 'reports',
 'ruby',
 'sql'}

**TODO:** What are the skills shared by both jobs?

In [ ]:
# To complete

**TODO:** What skills correspond to a DS position but not to a Backend position?

In [ ]:
# To complete

**TODO:** What skills correspond to a Backend position but not to a DS position?

In [ ]:
# To complete

## Loops

In general, when we are programming, we want to repeat an operation several times. For example, applying an operation to the elements of a list. If the list has many elements, it can be cumbersome to write the application of that operation to each element one by one, so we need some code structure that facilitates that syntax.

Loops are fundamental code structures in any programming language. They consist of blocks of code that are repeated a certain number of times given a condition. There are two basic ways to create loops, for statements and while statements.

### For

In [ ]:
list_numbers = [3, 55, 1, 876, 12]

for n in list_numbers:
    print(n)

3
55
1
876
12

Pay particular attention that the code "inside" the for is indented. In some programming languages, indentation is used to order the code, making it more readable. In Python, however, it is required. It is achieved with four spaces or a tab.

In [ ]:
list_numbers = [3, 55, 1, 876, 12]
i = 0

for n in list_numbers:
    i = i + 1
    print(n, i)

3 1
55 2
1 3
876 4
12 5

In [ ]:
list_names = ['Martin', 'Juan', 'Ana']
new_list = []

for item in list_names:
    sentence = 'My name is ' + item
    new_list.append(sentence)

print(new_list)

['My name is Martin', 'My name is Juan', 'My name is Ana']

**TODO:**

If we have a list of numbers, for example the first ten natural numbers, and we try to add a fixed number to the list, for example 5, we may try something similar to the following:

In [ ]:
numbers = [0, 1, 2, 3, 4, 5, 6, 7, 8, 9]
print(numbers + 3)

TypeError: can only concatenate list (not "int") to list

We get an error! (Note that the option to Google the error on Stack Overflow this time is more informative).
So, we suggest you solve the following exercises:

* Create a routine that adds three to the first ten natural numbers and prints on the screen as it does so.
* Create a routine that adds three to the first ten natural numbers and saves the results in a new list. At the end, print that list on screen.

In [ ]:
numbers = [0, 1, 2, 3, 4, 5, 6, 7, 8, 9]
for number in numbers:
    print(number + 3)

3
4
5
6
7
8
9
10
11
12

In [ ]:
numbers = [0, 1, 2, 3, 4, 5, 6, 7, 8, 9]
results = []
for number in numbers:
    results.append(number + 3)
print(results)

[3, 4, 5, 6, 7, 8, 9, 10, 11, 12]

**TODO:** Repeat the same but now for the first 100 natural numbers. Don't manually write the full list, use `range`.

In [ ]:
# To complete

**TODO:** Generate a list called my_list that contains the square of each element in the numbers list

In [ ]:
numbers = [3, 1, 5, 7, 12, 10, 17, 4, 22]

In [ ]:
# To complete

**TODO:** Add all the elements of the following list

In [ ]:
numbers = [4, 8, 3, 1, -3, 3, -5, 1, 2, -8]

In [ ]:
# To complete

**TODO:** Print the table from 1 to 9

In [ ]:
# To complete

### While

Python While Loop is used to execute a block of statements repeatedly until a given condition is satisfied.

In [ ]:
count = 0
while count < 7:
    count = count + 1
    print(count)

1
2
3
4
5
6
7

**TODO:** Using python's input() function, create a loop that prints the characters the user enters, until the char __z__ is detected.

In [ ]:
# To complete

**TODO:** Using an input build a program that allows a user to enter only positive numbers and add them up. When the user sends the number 0, the program ends and shows the total sum of the numbers entered.

In [ ]:
# To complete

#### History of chess

When the creator of the game of chess showed his invention to the king of a far Eastern country, the latter was so pleased that he gave the inventor the right to decide for himself what his reward would be for such a creation. The man, who was very wise, asked the king something that at first appeared to be quite humble: that for the first square on the chessboard, he should receive one grain of wheat, two for the second, four for the third, and so on, doubling the amount each time.

**TODO:** The chessboard has 64 squares, using a while show how many grains of wheat the creator would charge for each square that the board has

In [ ]:
# To complete

## if/elif/else

**TODO:** Using if, elif and else validate check if the variable `number` is positive, negative or equal to 0.

In [ ]:
# You can change this variable to check different numbers
number = -1

# To complete

**TODO:** Through an if compare the two variables (`age_1`, `age_2`) and show the highest value

In [ ]:
age_1 = 10
age_2 = 20

# To complete

**TODO:** Validate through an if if the value stored in the `even_validation` variable is even or odd

In [ ]:
even_validation = 19

# To complete

**TODO:** Compare the 3 variables (a, b, c) so that it returns which is the largest value. In case all 3 values are equal, return the message 'All values are equal'.

Make different tests to show that A is greater, that B is greater, that C is greater and that the 3 are equal.

In [ ]:
# To complete

**TODO:** Validate what type of data the variable is, returning the message 'It's a number' or 'It's a string' depending on the case. Swap values from string to numeric in the data_type variable to test if it works correctly.

In [ ]:
# To complete
input_var = 100.0

# code

**TODO:** Let's go with something a little more complicated.

* Check if the variable number is a multiple of 2
* If it is a multiple of 2, check if it is a multiple of 4.
* If it is a multiple of 2, validate if it is a multiple of 6
* And if it is a multiple of 4, validate if it is a multiple of 6

In [ ]:
# To complete

**TODO:** Investigate how to do a REDUCED IF (or inline if).

Once that is done, create a greeting variable that is equal to a reduced if that validates the language variable and shows by message 'HELLO' if the language is Spanish or 'HI' if the language is English

In [ ]:
# To complete

**TODO:** Investigate how to know if a value is inside a list

Using the vowel list check with an IF if the value of the letter variable is inside the list. If this show by message 'It's a vowel'. If it is not show by message 'It is not a vowel'

In [ ]:
vowel = ['a','e','i','o','u','á','é','í','ó','ú']
letter = 'o'

In [ ]:
# To complete

## Functions

**TODO:** Create 4 functions and each one receives parameter 2 values
* my_sum
* my_subtraction
* my_division
* my_multiplication

To each function add a description so that it can be seen when using help(). Explain in the description how to use the function and which values it accepts and which it does not. Validate in the function that the values received are integers, otherwise return a message saying "Verify the data entered, both have to be integers".

Addition, subtraction and multiplication will be similar, but division has something different, validate that the dividend is not 0 or otherwise display the message "The divisor cannot be zero".

In [ ]:
# To complete

In [ ]:
my_sum(13, 45)
my_subtraction(1000, 545)
my_division(200, 10)
my_multiplication(10, 4343)